extends layout.pug

block content
  #app-container
    img.processing.processing--spaced(src="/images/loading.gif", alt="Loading...")

block js
  script(src="/jst.js")
  script(src="/js/libs/jquery-1.12.4.min.js")
  script(src="/js/libs/underscore-min.js")
  script(src="/js/libs/bootstrap.min.js")
  script(src="/js/libs/backbone-min.js")
  script(src="/js/libs/toastr.min.js")
  script(src="/js/libs/socket.io.js")
  script(src="/js/app.js")
  script(src="/js/models/User.js")
  script(src="/js/models/Message.js")
  script(src="/js/collections/Messages.js")
  script(src="/js/views/Chat.js")
  script(src="/js/views/Login.js")
  script(src="/js/views/Registration.js")

block css
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="/css/toastr.min.css")
  link(rel="stylesheet", href="/css/font-awesome.min.css")
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet", href="/css/chat.css")
